<!DOCTYPE html>
<html lang="pt"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-padrao}">
<head>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-8">
						<h1>
							Cadastro ator
						</h1>
					</div>

					<div class="col-xs-4">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/vinhos}">
								<i class="fa fa-table"></i>

								<span class="hidden-xs hidden-sm">Lista ator</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST" class="form-vertical  js-form-loading"
					action="/ator/busca2">
	               
								
					<div class="form-group">
						<label for="nome">Nome</label>

						<input id="nome" name="firstName" type="text" class="form-control" 
							/>
					</div>


					<div class="form-group">
						<button class="btn  btn-primary" type="submit">buscar</button>
					</div>
				</form>
		</div>
	</section>
</body>
</html>
